.calendar {
  width: 350px;
  max-width: 100%;
  background: #333;
  border: 1px solid #222;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  pointer-events: none;
  border: 2px solid rgba(247, 80, 73, 0.6);
}

.calendar__tile {
  cursor: default;
}

.calendar__month-view__days__day--weekend {
  color: #d10000;
}

.calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.calendar__navigation {
  height: 44px;
  background: #222;
}

.react-calendar__navigation button,
.calendar__navigation button {
  display: none !important;
}

.calendar__navigation button {
  min-width: 44px;
  background: none;
  border: none;
}

.calendar__navigation button:enabled:hover,
.calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.calendar__navigation__label,
.calendar__navigation__prev-button,
.calendar__navigation__next-button,
.calendar__month-view__days__day,
.calendar__month-view__weekdays__weekday {
  color: #fff;
}

.unavailable {
  background: red;
}
